.main {
  width: 100%;
  height: 100%;
  position: absolute; //不懂

  .global {
    position: relative;
    img {
      position: absolute;
      width: 1012px;
      height: 762px;
      left: 40px;
      bottom: 40px;
    }
  }
}

